footer {
    background-color: #111;
    border-top: 2px solid #444;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;    
}

.footer img {
    margin-top: 10px;
    height: 50px;
    margin-left: 10px;
}

.ftext {
    text-align: center;
    color: white;
}

