Header {
    background-color: #111;
    padding: 1.5rem 0;
    text-align: center;
    border-bottom: 2px solid #444;
}
.Brent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.Brent img {
    width: 50px;
    height: 50px;
}

.Brent h1 {
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    padding: 0;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }

nav ul li a.active,
nav ul li a:hover {
color: #fff;
border-bottom: 2px solid #fff;
}